@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ecfccb;
}

::-webkit-scrollbar-thumb {
  background-color: #65a30d;
  border-radius: 10px;
}
.glow-text {
  animation: glow 1.8s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #4ade80, 0 0 10px #4ade80;
  }
  to {
    text-shadow: 0 0 15px #86efac, 0 0 25px #22c55e;
  }
}
